.container {
  align-items: center;
  margin: 2%;
}
.book-cover {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  height: 3%;
    width: 20%;
  margin: 2%;
  padding: 2%;
}
.book-info h2 {
  color: #c599b6;
  font-size: 2em;
  margin-top: 0;
}
p,
h4,
h5,
h6 {
  color: #c599b6;
  font-size: 1.5em;
}
img {
  height: 50%;
  height: auto;
  border-radius: 10px;
}
